<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.leaf.explorer"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name=".app.FileExplorer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrebleShot"
        android:appComponentFactory="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">

        <activity
            android:name=".activity.LeafActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar">

           <!-- <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="inode/directory" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />
                <data android:pathPattern=".*\.zip" />
            </intent-filter> -->

        </activity>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrebleShot.NoActionBar" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.PanelActivity"
            android:label="@string/text_panel"
            android:theme="@style/Theme.TrebleShot.NoActionBar">

        </activity>


        <activity
            android:name="com.editor.Editor"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar"
            android:label="@string/appEditor"
            android:icon="@drawable/ic_file_document_box_white_24dp">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/*" />
                <data android:pathPattern="*.txt" />
                <data android:pathPattern="*.html" />
                <data android:pathPattern="*.css" />
                <data android:pathPattern="*.js" />
                <data android:pathPattern="*.md"/>
                <data android:pathPattern="*.php" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>











        <activity
            android:name=".file_share.activity.HomeActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/Theme.TrebleShot.NoActionBar">

        </activity>
        <activity
            android:name=".file_share.activity.ShareActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="com.leaf.explorer.intent.action.LeafShare_SEND_TEXT" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="com.leaf.explorer.intent.action.LeafShare_SEND" />
                <action android:name="com.leaf.explorer.intent.action.LeafShare_SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>


        </activity>

        <activity
            android:name=".file_share.activity.AddDevicesToTransferActivity"
            android:label="@string/text_addDevicesToTransfer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".file_share.activity.FileExplorerActivity"
            android:label="@string/text_fileExplorer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".file_share.activity.ConnectionManagerActivity"
            android:label="@string/text_connectDevices"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".file_share.activity.ContentSharingActivity"
            android:label="@string/text_send"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar" />

        <activity
            android:name=".file_share.activity.FilePickerActivity"
            android:label="@string/text_fileExplorer" />

        <activity
            android:name=".file_share.activity.ViewTransferActivity"
            android:label="@string/text_transactionViewer"
            android:theme="@style/Theme.TrebleShot.NoActionBar.StaticStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />

                <data android:host="*" />
                <data android:pathPattern=".*\\.tshare" />
                <data android:pathPattern=".*\\..*\\.tshare" />
            </intent-filter>
        </activity>

        <activity
            android:name=".file_share.activity.ManageDevicesActivity"
            android:label="@string/text_manageDevices"
            android:theme="@style/Theme.TrebleShot.NoActionBar"/>

        <activity
            android:name=".file_share.activity.SearchActivity"
            android:label="@string/butn_search" />

        <activity
            android:name=".file_share.activity.TextEditorActivity"
            android:label="@string/text_textEditor" />

        <activity
            android:name=".file_share.activity.ChangeStoragePathActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.leaf.explorer.intent.action.UPDATE_STORAGE_PATH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".file_share.activity.BarcodeScannerActivity"
            android:label="@string/text_scanQrCode"
            android:theme="@style/Theme.TrebleShot.BarcodeScannerActivity" />

        <activity
            android:name=".file_share.activity.ShareSplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrebleShot.NoActionBar" >

        </activity>

        <activity android:name=".file_share.activity.WebShareActivity"
            android:label="Web Share"
            android:theme="@style/Theme.TrebleShot.NoActionBar"/>

        <activity android:name=".file_share.activity.HistoryActivity"
            android:label=""
            android:theme="@style/Theme.TrebleShot.NoActionBar"/>

        <activity android:name=".file_share.activity.ConnectSetupActivity"
            android:label="@string/text_connectDevices"
            android:theme="@style/Theme.TrebleShot.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".file_share.receiver.NetworkStatusReceiver"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".file_share.receiver.DialogEventReceiver"
            android:process=":transfer" />

        <service
            android:name=".file_share.service.CommunicationService"
            android:enabled="true"
            android:label="@string/text_communicationService"
            android:process=":transfer" />

        <service
            android:name=".file_share.service.DeviceChooserService"
            android:label="@string/text_chooserTargetService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name=".file_share.service.DeviceScannerService">
            <intent-filter>
                <action android:name="com.leaf.explorer.intent.action.SCAN_DEVICES" />
                <action android:name="com.leaf.explorer.intent.action.ADD_IP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".file_share.service.WorkerService"
            android:label="@string/text_workerService" />

        <service
            android:name=".file_share.service.CommunicationToggleTile"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/text_shareFiles"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":transfer">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>